 .hexGrid {
     position: absolute;
     margin: 10px;
     top: 50px;
 }

 .hexagon {
     position: absolute;
 }


 .hexagon>div>div {
     position: absolute;
     border-style: solid;
     border-color: black;
     border-width: 0px 1px;
     margin: 0px;
     background-color: rgb(120, 35, 35);
     z-index: 1;
 }

 div.pointy .h1 {
     transform: rotate(90deg);
 }

 div.pointy .h2 {
     transform: rotate(30deg);
 }

 div.pointy .h3 {
     transform: rotate(-30deg);
 }

 div.flat .h1 {
     transform: rotate(90deg);
 }

 div.flat .h2 {
     transform: rotate(30deg);
 }

 div.flat .h3 {
     transform: rotate(-30deg);
 }

 .hexText {
     z-index: 2;
     position: absolute;
     top: 40%;
     left: 15%;
     background-color: blue;
 }