 .hexGrid {
     position: absolute;
     margin: 10px;
     top: 50px;
 }

 .hexagon {
     position: absolute;
 }

 .controls{
    float: right;
     
 }
 .controls>div{
    margin-top:10px;
    display: grid;
 }

 .h1, .h2, .h3 {
     position: absolute;
     border-style: solid;
     border-color: black;
     border-width: 0px 1px;
     margin: 0px;
     background-color: rgb(247, 239, 239);
     z-index: 1;
 }

 div.pointy .h1 {
     transform: rotate(90deg);
 }

 div.pointy .h2 {
     transform: rotate(30deg);
 }

 div.pointy .h3 {
     transform: rotate(-30deg);
 }

 div.flat .h1 {
     transform: rotate(90deg);
 }

 div.flat .h2 {
     transform: rotate(30deg);
 }

 div.flat .h3 {
     transform: rotate(-30deg);
 }

 .hexText {
     z-index: 2;
     position: absolute;
     top: 25%;
     left: 15%;
     max-width: 75%;
     font-size: 11px;
 }

    #container {
      position: relative;
      width: 100px;
      height: 400px;
      background-color:aqua;
    }
    #container div{
        display:inline;
    }